<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Criar Hábitos</title>
    <link
      rel="shortcut icon"
      href="../public/assets/bebetterbro.png"
      type="image/x-icon"
    />
    <link rel="stylesheet" href="../public/styles/create.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="form">
      <form action="/registrarhabitos" method="post">
        <div class="input-wrapper">
          <label for="nomedohabito">Nome do Habito</label>
          <input
            type="text"
            placeholder="Ler 30 minutos"
            id="nome_habito"
            name="nome_habito"
          />
        </div>
        <div class="input-wrapper">
          <label for="descricaohabito">Descrição</label>
          <input
            type="text"
            placeholder="Ficar mais sábio"
            id="descricao_habito"
            name="descricao_habito"
          />
        </div>
        <button type="submit" class="primary">Criar</button>
      </form>
      <form action="/log" method="get" class="no-border">
        <button type="submit">Voltar</button>
      </form>
    </div>
  </body>
</html>
