<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="Alcance sua melhor versão. Evolua, cresça e BeBetter"
    />
    <title>BeBetter</title>
    <link
      rel="shortcut icon"
      href="../public/assets/bebetterbro.png"
      type="image/x-icon"
    />
    <link rel="stylesheet" href="../public/styles/index.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <!-- /logar e /registrar e method get -->
    <header>
      <div class="container">
        <div class="logo">
          <div class="image" id="teste">
            <img
              src="../public/assets/bebetterbro.png"
              alt="Ícone de um homem subindo uma montanha com uma paisagem bonita, simbolizando a superação de um desafio"
            />
          </div>
          <div class="title">BeBetter</div>
        </div>
        <div class="buttons">
          <form action="/logar" method="get">
            <button type="submit">entre</button>
          </form>
          <form action="/registrar" method="get" class="primary">
            <button type="submit">inscreva-se</button>
          </form>
        </div>
      </div>
    </header>
    <main>
      <div class="container">
        <div class="text">
          <h1>Evolua, Cresça. <span class="typewriter">BeBetter</span></h1>
          <p>
            Alcance sua melhor versão utilizando nosso sistema e permita-se
            evoluir sem sofrimento
          </p>
          <div class="buttons">
            <form action="/logar" method="get">
              <button type="submit">entre</button>
            </form>
            <form action="/registrar" method="get" class="primary">
              <button type="submit">inscreva-se</button>
            </form>
          </div>
        </div>
        <div class="image">
          <img
            src="../public/assets/main-photo.svg"
            alt="Ilustração de uma pessoa observando seu progresso"
          />
        </div>
      </div>
    </main>
    <footer>BeBetter Inc ©</footer>
  </body>
</html>
