<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Metas Concluídas</title>
    <link
      rel="shortcut icon"
      href="../public/assets/bebetterbro.png"
      type="image/x-icon"
    />
    <link rel="stylesheet" href="../public/styles/metas-concluidas.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap"
      rel="stylesheet"
    />
    <script src="https://unpkg.com/@phosphor-icons/web"></script>
  </head>
  <body>
    <!DOCTYPE html>
    <html lang="pt-br">
      <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Metas Concluídas</title>
      </head>
      <body>
        <div class="container">
          <h1>
            <i
              class="ph ph-archive"
              style="font-size: 3.2rem; color: #7221c2"
            ></i
            >Metas Concluídas
          </h1>
          <div class="divider"></div>
          <ul>
            <% metasConcluidas.forEach(metas => { %>
            <li><%= metas.nome_meta %> - <%= metas.descricao_meta %></li>
            <% }); %>
          </ul>
        </div>
        <form action="/atividades-do-dia" method="get">
          <button type="submit" class="primary">
            <i
              class="ph ph-arrow-u-up-left"
              style="font-size: 1.6rem; color: #f2f8fd"
            ></i
            >Voltar
          </button>
        </form>
      </body>
    </html>
  </body>
</html>
